.cart-page .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: bold;
}

.cart-page .content .item {
  box-shadow: 1px 1px 4px white;
  min-width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 1rem;
  align-items: center;
  margin: 1rem;
}

.cart-page .content img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem;
  margin-right: 1rem;
}

.cart-page .content .item-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.cart-page .content .item-details .song-name {
  font-size: 2rem;
}

.cart-page .content .item-details .package-name {
}

.cart-page .content .item .price {
  margin-left: auto;
  font-size: 1.5rem;
}

.cart-page .content .item button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  position: relative;
  align-self: flex-start;
}

.cart-page .checkout-list {
  box-shadow: 1px 1px 4px white;
  min-width: 20rem;
  width: auto;
  height: 300px;
  margin-top: 1rem;
}

.cart-page .checkout-list h2 {
}

.cart-page .checkout-list hr {
  color: white;
  border-color: white;
  margin: 0 1rem;
}

.cart-page .checkout-list .total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2rem;
}

.cart-page .checkout-list .total .title {
  font-size: 1rem;
}

.cart-page .checkout-list .total .price {
  font-size: 1rem;
}
