.song-details {
  width: 100%;
  padding: 0 12px;
}

.song-details .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 12px 0;
  margin-right: 200px;
}

.song-details .header .content {
  margin-top: 50px;
}

.song-details .header img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.song-details .header p {
  font-weight: bold;
  font-size: 20px;
}

.song-details .header .content .name {
  font-size: 40px;
}

.song-details .package-item {
  width: 100%;
  box-shadow: 2px 2px 6px white;
}

.song-details .package-item .name-price {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.song-details .package-item .name-price p {
  font-weight: bold;
  font-size: 24px;
}
