.player-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--main-dark);
  height: 5rem;
  align-items: center;
  padding: 8px 0;
  text-align: center;
  box-shadow: 2px 2px 4px white;
}

.player-bar img {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 8px;
}

.player-bar button {
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 0.5rem;
  box-shadow: none;
}

.player-bar #play-button {
  width: 2.5rem;
  height: 2.5rem;
}

.player-bar button:focus {
  outline: 5px auto -webkit-focus-ring-color;
}
