.song-list {
  padding: 2rem;
  text-align: center;
}

.song-list .song-item {
  padding: 2rem;
  width: 100%;
}

.song-list .song-item ul {
  list-style-type: none;
  text-align: center;
}

.song-list .song-item li {
  display: grid;
  grid-template-columns: 10% 25% auto auto 15%;
  text-align: center;
}

.song-list .song-item img {
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  border-width: 3;
  box-shadow: 2px 2px 12px 0 rgba(70, 70, 70, 0.685),
    0 6px 20px 0 rgba(70, 70, 70, 0.2);
}

.song-list .song-item p {
  margin-top: 2rem;
}

.song-list .name {
  cursor: pointer;
  color: white;
  justify-self: start;
  margin-left: 2rem;
}

.song-list .show-more {
  cursor: pointer;
  background-color: #643c92;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  color: var(--main-dark);
  font-weight: bold;
  color: var(--main-light);
  height: 3rem;
  text-decoration: none;
  margin-top: 2rem;
}

.song-list .name:hover {
  text-decoration: underline;
}
