:root {
  --main-dark: rgb(28, 28, 41);
  --main-light: rgb(240, 240, 240);
  --primary: #008080;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-dark);
  color: var(--main-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar */
.navbar {
  background-color: var(--main-dark);
}
.navbar .nav-item {
  font-weight: bold;
}
.navbar .navbar-logo {
  width: 100;
  height: 100;
  border-radius: 50%;
  overflow: "hidden";
  border-width: 3;
}

button {
  cursor: pointer;
}
